node_modules/
.env
.DS_Store
dist/
*.log
#user's venv
.venv
venv

#workspaces
*.code-workspace

#pycache
*.pyc
*__pycache__

#some personal data
tools/20*
tools/paidscrapper.py

#user's vscode config
.vscode

# development output folder
devdata/
data/

# garbage going around
*.json

# idk
school-frontend/
rootfolder/
sandbox/